@model HelpingHandsWeb.Models.ViewModels.LoginViewModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~login-form-07/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~login-form-07/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~login-form-07css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~login-form-07/css/style.css">

    
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~login-form-07/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Login</h3>
                                
                            </div>
                            <form asp-action="Login" method="post">
                                @Html.AntiForgeryToken()
                                <div class="form-group first">
                                    <label for="Username">Username</label>
                                    <input asp-for="UserName" class="form-control" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group last mb-4">
                                    <label for="Password">Password</label>
                                    <input asp-for="Password" type="password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-0">
                                        <span class="caption">Remember me</span>
                                        <input type="checkbox" checked="checked" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                                </div>
                                <input type="submit" value="Log In" class="btn btn-block btn-primary">
                              
                            </form>

                            <script>
                                function redirectToDashboard() {
                                    // Get the user type from ViewBag
                                    var userType = '@ViewBag.UserType';

                                    // Define the dashboard URLs based on user types
                                    var dashboardUrls = {
                                        'A': '/Admin/AdminDashboard',
                                        'O': '/Admin/OfficeManagerDashboard',
                                        'N': '/Nurse/NurseDashboard',
                                        'P': '/Patient/PatientDashboard'
                                    };

                                    // Redirect the user to the appropriate dashboard URL
                                    var dashboardUrl = dashboardUrls[userType];
                                    if (dashboardUrl) {
                                        window.location.href = dashboardUrl;
                                    }

                                    return false; // Prevent form submission
                                }
                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~login-form-07/js/jquery-3.3.1.min.js"></script>
    <script src="~login-form-07/js/popper.min.js"></script>
    <script src="~login-form-07/js/bootstrap.min.js"></script>
    <script src="~login-form-07/js/main.js"></script>
</body>
</html>

