@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
    <meta name="author" content="themefisher.com">

    <title>Helping hands</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" />

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="~/plugins/icofont/icofont.min.css">
    <!-- Slick Slider  CSS -->
    <link rel="stylesheet" href="~/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/plugins/slick-carousel/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/about.css">
</head>

<body id="top">
   

    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white">About Us</span>
                        <h1 class="text-capitalize mb-5 text-lg">About Us</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="pagination_link">
                        <a href="~/index.cshtml" class="text-white" >Home</a>
                        <span>/</span>
                        <a href="~/about.cshtml" class="text-white-50">About</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section about-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="title-color">Personalized Care for Your Health and Well-being.</h2>
                    <div class="divider"></div>
                </div>
                <div class="col-lg-8">
                    <p>
                        At Helping Hands, our mission is rooted in compassion and a commitment to improving the quality of life for those facing the challenges of wounds, such as leg and foot ulcers, post-operative care, diabetic wounds, and bedsores, within the Nelson Mandela Bay area. We extend our healing hands to individuals who are elderly, bedridden, unable to access a clinic, receive state pensions, or belong to the lower-income bracket. Our service is driven by the invaluable dedication of volunteer nurses who generously contribute their time and expertise. They tirelessly travel to the homes of our patients, providing essential wound care services where it matters most. Our goal is to make a positive impact in the lives of these individuals, whom we proudly refer to as our patients, by fostering an environment of care, support, and healing. Together, we strive to make a difference, one wound at a time.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Add the rest of your Razor sections here -->

    <!-- awards start -->

    <!-- awards start -->
    <section class="section team">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="mb-4">Meet Our Nurses</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p>Get to know the compassionate hearts behind our healing hands</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-block mb-5 mb-lg-0">
                        <img src="~/images/team/nurse-1.jpg" alt="" class="img-fluid w-100">

                        <div class="content text-center">
                            <h4 class="mt-4 mb-0"><a href="~/doctor-single.cshtml">Thandiwe Mbeki</a></h4>
                            <p>Wound Care Nurse</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-block mb-5 mb-lg-0">
                        <img src="~/images/team/nurse-5.avif" alt="" class="img-fluid w-100">

                        <div class="content text-center">
                            <h4 class="mt-4 mb-0"><a href="~/doctor-single.cshtml">Sipho Mbeki</a></h4>
                            <p>Home Healthcare Nurse</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-block mb-5 mb-lg-0">
                        <img src="~/images/team/nurse-6.jpg" alt="" class="img-fluid w-100">

                        <div class="content text-center">
                            <h4 class="mt-4 mb-0"><a href="~/doctor-single.cshtml">Ahmed Jacobs</a></h4>
                            <p>Palliative Care Nurse</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-block">
                        <img src="~/images/team/nurse-4.jpg" alt="" class="img-fluid w-100">

                        <div class="content text-center">
                            <h4 class="mt-4 mb-0"><a href="~/doctor-single.cshtml">Isabella van Zyl</a></h4>
                            <p>Geriatric Care Nurse</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="section-title">
                        <h2 class="mb-4">What they say about us</h2>
                        <div class="divider  my-4"></div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 testimonial-wrap offset-lg-6">
                    <div class="testimonial-block">
                        <div class="client-info ">
                            <h4>Amazing service!</h4>
                            <span>Tariro Ndlovu</span>
                        </div>
                        <p>
                            Helping Hands has been a true lifeline for my elderly mother. The care and attention they provide are unparalleled"
                        </p>
                        <i class="icofont-quote-right"></i>
                    </div>

                    <div class="testimonial-block">
                        <div class="client-info">
                            <h4>Expert Nurses!</h4>
                            <span>Lungile Botha</span>
                        </div>
                        <p>
                            I can't thank the nurses at Helping Hands enough. Their dedication and expertise made all the difference in my recovery."
                        </p>
                        <i class="icofont-quote-right"></i>
                    </div>

                    <div class="testimonial-block">
                        <div class="client-info">
                            <h4>Good Support!</h4>
                            <span>Aisha Jacobs</span>
                        </div>
                        <p>
                            "As a caregiver, I rely on Helping Hands for wound care for my bedridden patient. Their service has been a blessing."
                        </p>
                        <i class="icofont-quote-right"></i>
                    </div>

                    <div class="testimonial-block">
                        <div class="client-info">
                            <h4>Nice Environment!</h4>
                            <span>Rajesh Naidoo</span>
                        </div>
                        <p>
                            "The compassionate nurses at Helping Hands go above and beyond to ensure patients like me receive the best care possible."
                        </p>
                        <i class="icofont-quote-right"></i>
                    </div>

                    <div class="testimonial-block">
                        <div class="client-info">
                            <h4>Modern Service!</h4>
                            <span>Luke Jansen</span>
                        </div>
                        <p>
                            "Helping Hands is a shining example of community support. They've made healing at home a reality for so many"
                        </p>
                        <i class="icofont-quote-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer Start -->
    

    <!-- Essential Scripts -->
    <!-- Main jQuery -->
    <script src="~/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="~/plugins/bootstrap/js/popper.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="~/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="~/plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="~/plugins/shuffle/shuffle.min.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- Google Map -->
    <script src="~/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/contact.js"></script>
</body>
</html>

