
@{
    Layout = "_Layout";
}


<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
    @* <meta name="author" content="mahadidev7.com"> *@

    <title>Helping Hands</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" />

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="~/plugins/icofont/icofont.min.css">
    <!-- Slick Slider CSS -->
    <link rel="stylesheet" href="~/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/plugins/slick-carousel/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body id="top">
   

    <!-- Slider Start -->
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xl-7">
                    <div class="block">
                        <div class="divider mb-3"></div>
                        <span class="text-uppercase text-sm letter-spacing ">Comprehensive Solutions for Your Health and Well-being</span>
                        <h1 class="mb-3 mt-3">Your Most Trusted Partner in Wound Care and Healing</h1>

                        <p class="mb-4 pr-5">Bringing Healing to Your Doorstep – Helping Hands Caring for You</p>
                        <div class="btn-container ">
                            <a href="appoinment.cshtml" target="_blank" class="btn btn-main-2 btn-icon btn-round-full">Make appointment <i class="icofont-simple-right ml-2  "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="feature-block d-lg-flex">
                        <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4">
                                <i class="icofont-surgeon-alt"></i>
                            </div>
                            <span>24 Hours Service</span>
                            <h4 class="mb-3">Online Appoinment</h4>
                            <p class="mb-4">Schedule your healing journey with Helping Hands today</p>
                            <a href="appoinment.cshtml" class="btn btn-main btn-round-full">Make an appointment</a>
                        </div>

                        <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4">
                                <i class="icofont-ui-clock"></i>
                            </div>
                            <span>Timing schedule</span>
                            <h4 class="mb-3">Working Hours</h4>
                            <ul class="w-hours list-unstyled">
                                <li class="d-flex justify-content-between">Mon - Fri : <span>8:00 AM - 17:00 PM</span></li>
                               
                                <li class="d-flex justify-content-between">Sat : <span>10:00 AM - 16:00 PM</span></li>
                            </ul>
                        </div>

                        <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4">
                                <i class="icofont-support"></i>
                            </div>
                            <span>Emergency Cases</span>
                            <h4 class="mb-3"> 0861 555 777 </h4>
                            <p>For urgent wound care needs, contact us immediately – we're here to help.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- service starts -->

    <section class="section service gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <h2>Award-winning patient care</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p>At Helping Hands, our commitment to excellence in patient care has earned us recognition and awards for our unwavering dedication to our patients' well-being. We take pride in delivering top-notch services that make a real difference in the lives of those we serve. Our team of dedicated registered nurses specializes in wound care for a variety of conditions.</p>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-crutch text-lg"></i>
                            <h4 class="mt-3 mb-3">Post-operative Care</h4>
                        </div>

                        <div class="content">
                            <p class="mb-4">  Our skilled nurses are here to support your post-operative recovery, ensuring your surgical wounds heal optimally.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-crutch text-lg"></i>
                            <h4 class="mt-3 mb-3">Diabetic Ulcer Care</h4>
                        </div>

                        <div class="content">
                            <p class="mb-4">We specialize in managing and treating diabetic ulcers, offering comprehensive care to promote healing and prevent complications.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-crutch text-lg"></i>
                            <h4 class="mt-3 mb-3">Pressure Sore Management</h4>
                        </div>

                        <div class="content">
                            <p class="mb-4"> Our expertise extends to pressure sore prevention and treatment, enhancing your comfort and well-being.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-crutch text-lg"></i>
                            <h4 class="mt-3 mb-3">Vascular Ulcer Care</h4>
                        </div>

                        <div class="content">
                            <p class="mb-4">We are equipped to address the unique needs of vascular ulcers, providing specialized care to promote healing.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-crutch text-lg"></i>
                            <h4 class="mt-3 mb-3">Venous Ulcer Treatment</h4>
                        </div>

                        <div class="content">
                            <p class="mb-4">Our tailored approach to venous ulcers ensures effective treatment and improved vascular health.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-crutch text-lg"></i>
                            <h4 class="mt-3 mb-3">Expert Wound Dressings</h4>
                        </div>

                        <div class="content">
                            <p class="mb-4">Trust our registered nurses for expert wound dressings that facilitate healing and minimize discomfort.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- service ends -->

    

    <!-- Essential Scripts -->
    <!-- Main jQuery -->
    <script src="~/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="~/plugins/bootstrap/js/popper.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="~/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="~/plugins/counterup/jquery.waypoints.min.js"></script>

    <script src="~/plugins/shuffle/shuffle.min.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- Google Map -->
    <script src="~/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
    
    <script src="~/js/script.js"></script>
    <script src="~/js/contact.js"></script>
    <script src="~/js/aweSomeSlider.js"></script>
</body>
</html>

